/* cuerpo */

section article {
    position: relative;
    width: 70%;
    margin: 15%;
    border: 2px #fff;
}

#portada{
    position: relative;
    height: 500px;
}

#pcontacto {
    width: 40%;
    margin: 10%;
}

/* titulos */

h1 {
    position: relative;
    height: 50px;
    width: 225px;
    margin: 0;
    display: flex;
    flex-direction: column;
    left: 5%;
}

h1 a {
    position: relative;
    width: 225px;
    height: 50px;
    font: 20pt 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 5% 0;
}

h2{
    font: 20pt 'Montserrat', sans-serif;
    font-weight: 700;
}

h3 {
    font: 20pt 'Montserrat', sans-serif;
    font-weight: 500;
    /*margin: 10% 0% 0% 10%;*/
}

/* articulos */

#portada h2{
    position: absolute;
    left: 50%;
    /*top: 25%;*/
    font-size: 40pt;
}
#portada{
    margin-top: 10% !important;
}

#img-portada img{
    width: 30vw;
}

#eslogan{
    justify-content: center;
}

#eslogan h3 {
    text-align: center;
}

#eslogan #texto-eslogan p{
    position: relative;
    width: 90%;
    margin: 5%;
    text-align: center;
}

#texto-experiencia{
    position: relative;
    width: 60%;
    margin: 5% 0% 5% 35%;
}

#img-experiencia{
    position: absolute;
    top: -20%;
}

#producto #texto-producto p{
    position: relative;
    width: 90%;
    margin: 5%;
    text-align: center;
}

#producto h3 {
    text-align: center;
}

#texto-somos{
    position: relative;
    width: 80%;
    margin: 5% 0% 5% 20%;
}

#img-experiencia{
    position: absolute;
    left: 5%;
    top: 5%;
}

/* formulario */

#contacto h3{
    text-align: center;
}

#contacto p{
    text-align: center;
}

#formulario{
    position: relative;
    width: 60%;
    padding: 0% 20%;
}

input, textarea{
    background-color: rgb(2, 6, 43);
    margin-bottom: 8px;
    color: #fff;
    border-bottom-color: #fff;
    border-bottom-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#nombre, #asunto{
    position: relative;
    width: 35%;
    margin-right: 14%; 
}

#email, #pais{
    position: relative;
    width: 35%;
    margin-left: 14%; 
}

textarea{
    width: 100%;
}

.botones{
    position: relative;
    height: 40px;
    width: 100px;
    background-color: #fff;
    color: rgb(2, 6, 43);
    font: 12pt 'Montserrat', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    top: 30px;
}
