/*  CUERPO */

#contenedor{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: #fff;
    grid-area: cuerpo;
}
/* PORTADA */
#portada{
    position: relative;
    width: 100%;
	height:16%;
}

#img-square{
    position: absolute;
    z-index: 10;
}

#img-portada{
    position: relative;
    width: 60%;
    margin: 12% 20% 10% 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#screen{
    position: relative;
    height: 75px;
    width: 60%;
    font: 60pt 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 0 0 0 5%;

}

#img-portada img{
    width: 30%;
}

#img-square img{
    width: 60%;
}

#non-screen{
    display: none;
}

/* ANIMACIÓN TITULO PORTADA*/

#s{
    position: absolute;
    animation: s 2s ease-in-out;
}

@keyframes s{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#pace{
    position: absolute;
    left: 8%;
    animation: pace 6s ease-in-out;
}

@keyframes pace{
    0%{
        opacity: 0;
    }
    66%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#j{
    position: absolute;
    left: 46%;
    animation: j 5s ease-in-out;
}
@keyframes j{
    0%{
        left: 10%;
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    66%{
        left: 10%;
    }
    70%{
        opacity: 1;
    }
    100%{
        left: 46%;
    }
}
#ourney{
    position: absolute;
    left: 53%;
    animation: ourney 6s ease-in-out;
}

@keyframes ourney{
    0%{
        opacity: 0;
    }
    66%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* ARTÍCULOS */

/* USO COMÚN */
h3{
    position: relative;
    margin: 0;
    font: 30pt 'Montserrat', sans-serif;
    font-weight: 600;
}

.text-regular{
    font: 14pt 'Lato', sans-serif;
    font-weight: 300;
}

.text-bold{
    font: 14pt 'Lato', sans-serif;
    font-weight: 700;
}

.hide {
    position: relative;
    width: 80%;
    height: auto;
    margin: 5% 10% 10% 10%;
    opacity: 0;
    animation: hide-article 1s ease-out;
}

@keyframes hide-article{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.show {
    position: relative;
    width: 80%;
    height: auto;
    margin: 5% 10% 10% 10%;
    opacity: 1;
    animation: show-article 1s ease-in;
}

@keyframes show-article{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* ESLOGAN */

#title-eslogan{
    margin: 0 0 0 13%;
    opacity: 1;
    font-weight: 400;
}

#text-eslogan{
    position: relative;
    width: 50%;
    margin: 10% 0% 0% 0%;
}

#img-eslogan{
    position: absolute;
    left: 55%;
    top: 40%;
}

#img-eslogan img{
    width: 70%;
}

/* EXPERIENCIA */

#text-experi {
    position: relative;
    width: 50% ;
    margin: 2% 0 0 30%;
}

#img-exper{
    position: absolute;
    height: 100%;
    width: 50%;
    margin: 0 0 0 -10%;
}
#img-exper img{
  width:75%;
}

#title-exper{
    position: relative;
    margin: 0 0 0 30%;
}

/* PRODUCTO */

#text-produ{
    position: relative;
    width: 50%;
    margin: 10% 0% 0% 0%;
}

.img-card{
    position: absolute;
    left: 55%;
    top: 0;
    height: 100%;
    width: 30%;
    background: url(../images/card.png)no-repeat center;
    background-size: contain;
    transform-style: preserve-3d;
}
.img-nave{
    position: absolute;
    left: 17%;
    top: 20%;
    height: 66%;
    width: 66%;
    background: url(../images/nave.png)no-repeat center;
    background-size: contain;
    transform: translateZ(60px);
}

/* NOSOTROS */

#text-noso {
    position: relative;
    width: 50% ;
    margin: 8% 0 0 30%;
}

#img-nos{
    position: absolute;
    width: 24%;
    height: 80%;
    margin: 6% 13% 0 0%;
}

#img-nos img {
    width: 70%;
}

#title-nos{
    position: relative;
    margin: 0 0 0 30%;
    display:none;
}
#title-nos-movil{
    position: relative;
    margin: 0 0 0 30%;
    display:block;
}

/* CONTACTO */
#contacto h3{
    text-align: center;
}
#contacto{
  margin: 0 0 0 -1.5%;
}

#sub-title{
    text-align: center;
    font: 12pt 'Montserrat', sans-serif;
    font-weight: 400;
}

#formulario{
    position: relative;
    width: 60%;
    padding: 0% 20%;
}

input, textarea{
    background-color: #00000000;
    margin-bottom: 8px;
    color: #fff;
    border-bottom-color: #fff;
    border-bottom-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    font: 12pt 'Montserrat', sans-serif;
    font-weight: 200;
}

#nombre, #asunto{
    position: relative;
    width: 30%;
    margin-right: 38%;
}

#email, #pais{
    position: relative;
    width: 30%;
}

textarea{
    width: 100%;
}

.botones{
    position: relative;
    height: 40px;
    width: 100px;
    background-color: #fff;
    color: rgb(2, 6, 43);
    font: 12pt 'Montserrat', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    top: 30px;
}

#container {
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px 100% 471px;
    grid-template-areas: "cabecera" "cuerpo" "pie";
}

body:before{
	  content:"";
	  position:fixed;
	  left:0;
	  top:0;
	  right:0;
	  bottom:0;
	  z-index:-1;
    background: url(../images/background.png) repeat;
}


/* HEADER */
header {
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 0;
    align-items: center;
    display: grid;
    grid-template-columns: 5% 15% 65% 15%;
    grid-template-rows: 60px;
    grid-template-areas: "clum-01" "clum-02" "clum-03" "clum-04";
    background-color: #12031C;
    font-family: 'Montserrat', sans-serif;
    z-index: 11;
    grid-area: cabecera;
}

#logo{
    position: relative;
    width: 30%;
    margin: 0% 35%;
    grid-area: clum-01;
}

#titulo-pag{
    position: relative;
    width: 84%;
    margin: 0% 8%;
    color: #fff;
    font-size: 16pt;
    grid-area: clum-02;
}

header h1{
    margin: 0;
}

#menu{
  display:none;
}

#menu li a{
    display:none;
}
#movil{
  display:block;
}
#menu_movil{
  display:none;
  position:absolute;
	background-color: black;
	width:250px;
	height:380px;
	z-index:10;
}
#checkboxMenuMovil{
				display:none;

			}
#checkboxMenuMovil + label{
				display:inline-block;
				width:30px;
				height:30px;
				margin-left: 10px;
				background-image:url(../images/MenuHamburguesa.png);
				cursor:pointer;
				background-size:cover;
			}
#menu_movil ul li a{
  color: #fff;

}
#menu_movil ul li{
  margin-bottom: 50px;
}
input[type="checkbox"]:checked + label + #menu_movil{
					display:inline-block;
			}
#btn-reserva{
    position: relative;
    height: 40px;
    width: 100%;
    margin: 0% -20%;
    color: #fff;
    font-size: 10pt;
    background-color: #771B67;
    border: none;
    border-radius: 20px;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* FOOTER */

footer {
    position: relative;
    background: url(../images/footer.png) center no-repeat;
    background-size: cover;
    font: 12pt 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100%;
    grid-template-areas: "copyright" "links-ftr" "rrss";
    align-items: end;
    z-index: 10;
    grid-area: pie;
}

#copy{
    position: relative;
    margin: 10% 20%;
    grid-area: copyright;
}

#links-footer{
    position: relative;
    text-align: center;
    margin: 10% 0%;
    grid-area: links-ftr;
}

.links-rrss{
    position: relative;
    grid-area: rrss;
}

footer ul{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: 10% 0%;
}

footer a{
    color: #000;
}

footer ul li a img{
    width: 50%;
}
