#container {
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px auto 331px;
    grid-template-areas: "cabecera" "cuerpo" "pie";
}
#contenedor{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    grid-area: cuerpo;
}
body:before{
	  content:"";
	  position:fixed;
	  left:0;
	  top:0;
	  right:0;
	  bottom:0;
	  z-index:-1;
    background: url(../images/background.png) repeat;
}
.oculto{
  display: none;
}
#asientos{
  position:relative;
  width:280px;
  height:475px;
  grid-template-columns:120px 50px 120px;
  grid-template-rows: 53px 53px 53px 53px 53px 53px 53px 53px 53px 53px 53px;
  grid-template-areas:"leyenda leyenda leyenda"
                      "asientosL pasillo asientosR"
                      "asientosL pasillo asientosR"
                      "asientosL pasillo asientosR"
                      "asientosL pasillo asientosR"
                      "asientosL pasillo asientosR"
                      "asientosL pasillo asientosR"
                      "asientosL pasillo asientosR"
                      "asientosL pasillo asientosR"
                      "asientosL pasillo asientosR"
                      "btn-asiento btn-asiento btn-asiento";
  margin:auto;
}
#leyenda{
  grid-area: leyenda;
}
#leyenda img{
max-width:100%;
max-height:100%;
}
#asientosL{
  /* background-color:#616161;*/
  grid-area:asientosL;
}
#pasillo{
  /*background-color:#757575;*/
  grid-area:pasillo;
}
#asientosR{
  /*background-color: #9e9e9e;*/
  grid-area:asientosR;
}
#resumenContenedor{
  margin-left: 10%;
  margin-right: 10%;
}
#resumen{
  width: 559px;
  height: 640px;
  float: left;
  padding-top: 23%;
  background-image: url("../images/card.png");
  background-repeat: no-repeat;
}
#resumen p{
  font-size: 25px !important;
}
.formulario{
  display: inline;
  width: 559px;
  height: 640px;
  padding-top: 30%
}
#aviso{
  position: fixed;
  width: 300px;
  bottom: 50px;
  top:40%;
  left: 40%
  padding: 10px 30px 30px;
  background-color: rgba(83, 15, 47,0.6);
  color:grey;
  font-size: 12pt;
  letter-spacing: 0.2px;
  z-index:10000;
  font-family: 'Lato', sans-serif;
}
input, textarea, select{
    background-color: #00000000;
    margin-bottom: 8px;
    color: #fff;
    border-bottom-color: #fff;
    border-bottom-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    font: 12pt 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: center;
    width: 40%;
}
.black{
  color: black;
}
#libre{
  background-imgage:url("../images/asiento_libre.png");
}
#ocupado{
  background-imgage:url("../images/asiento_reservado.png");
}
.asiento:hover{
  cursor:pointer;
}
#formularioReserva{
    margin-top:15%;
    text-align: center;
  }
#contenedor p {
    color:white;
    position: block;
    margin-bottom:2px;
    font: 15pt 'Montserrat', sans-serif;
    font-weight: 600;
}
#container {
      position: absolute;
      width: 100%;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 60px 100% 471px;
      grid-template-areas: "cabecera" "cuerpo" "pie";
      top:0px;
  }

  /* HEADER */
  header {
      position: fixed;
      width: 100%;
      height: 60px;
      padding: 0;
      align-items: center;
      display: grid;
      grid-template-columns: 5% 15% 65% 15%;
      grid-template-rows: 60px;
      grid-template-areas: "clum-01" "clum-02" "clum-03" "clum-04";
      background-color: #12031C;
      font-family: 'Montserrat', sans-serif;
      z-index: 11;
      grid-area: cabecera;
  }

  #logo{
      position: relative;
      width: 30%;
      margin: 0% 35%;
      grid-area: clum-01;
  }

  #titulo-pag{
      position: relative;
      width: 84%;
      margin: 0% 8%;
      color: #fff;
      font-size: 16pt;
      grid-area: clum-02;
  }

  header h1{
      margin: 0;
  }

  #movil{
      display:none;
  }

  #menu{
      position: relative;
      margin: 0% 0% 0% 40%;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      color: #fff;
      font-size: 10pt;
      grid-area: clum-03;
  }

  #menu li a{
      color: #fff;
      margin-right: 20px;
  }

#btn-form{
      position: relative;
      height: 40px;
      width: 70%;
      margin: auto;
      color: #fff;
      font-size: 10pt;
      background-color: #771B67;
      border: none;
      border-radius: 20px;
  }
  a{
      text-decoration: none;
  }

  ul{
      list-style-type: none;
  }
  /* FOOTER */

  footer {
      position: relative;
      background: url(../images/footer.png) center no-repeat;
      background-size: cover;
      font: 12pt 'Roboto', sans-serif;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 100%;
      grid-template-areas: "copyright" "links-ftr" "rrss";
      align-items: end;
      grid-area: pie;
  }

  #copy{
      position: relative;
      margin: 10% 20%;
      grid-area: copyright;
  }

  #links-footer{
      position: relative;
      text-align: center;
      margin: 10% 0%;
      grid-area: links-ftr;
  }

  .links-rrss{
      position: relative;
      grid-area: rrss;
  }

  footer ul{
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 50%;
      margin: 10% 0%;
  }

  footer a{
      color: #000;
  }

  footer ul li a img{
      width: 50%;
  }

  #portada{
      position: relative;
      width: 100%;
      height:20%;
  }

  #img-square{
      position: absolute;
      margin:0;
  }

  #img-portada{
      position: relative;
      width: 60%;
      height:20%;
      margin: 12% 20% 10% 20%;
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  #leyendaAsientos{
    position:absolute;
    background:url(../images/leyenda_asientos.png) center no-repeat;
    width:420px;
    height:55px;
    top:33%;
    background-size:cover;
    left:36%;
  }
#btn_reserva{
  grid-area:btn-asiento;
  color: #fff;
  font-size: 10pt;
  background-color: #771B67;
  border: none;
  border-radius: 20px;
}
#txt_reserva{
  position:absolute;
  height:5%;
  width:10%;
  margin-left:43%;
  margin-top:5%;
}
#txt_reserva h3{
    position: relative;
    margin: 0;
    font: 35pt 'Montserrat', sans-serif;
    font-weight: 600;
    color:white;
}
#btn_form{
  position: relative;
  height: 40px;
  width: 70%;
  margin-top:20px;
  color: #fff;
  font-size: 10pt;
  background-color: #771B67;
  border: none;
  border-radius: 20px;
}
