#screen{
    display: none;
}

#non-screen{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    width: 60%;
    font: 55pt 'Montserrat', sans-serif;
    font-weight: normal;
    font-weight: 600;
    margin: 0 0 0 5%;
}

#space{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    height: 75px;
    width: 100%;
}

#journey{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    height: 75px;
    width: 100%;
    margin-left: 7%;
}
/* ANIMACIÓN TITULO PORTADA*/

#s-ns{
    position: relative;
    animation: s-ns 2s ease-in-out;
}

@keyframes s-ns{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#pace-ns{
    position: relative;
    animation: pace-ns 4s ease-in-out;
}

@keyframes pace-ns{
    0%{
        opacity: 0;
    }
    66%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#j-ns{
    position: relative;
    animation: j-ns 4s ease-in-out;
}
@keyframes j-ns{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#ourney-ns{
    position: relative;
    animation: ourney-ns 6s ease-in-out;
}

@keyframes ourney-ns{
    0%{
        opacity: 0;
    }
    66%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}